docutils
jupyter_core
sphinx<7.2.0    # some problem with sphinx_toolbox/old python 2023-11-12
sphinx_rtd_theme>0.5
sphinx_gitstamp
#recommonmark
# For the slurm lexer
pygments>=2.4
sphinx_rtd_theme_ext_color_contrast
sphinx-copybutton
sphinx-lesson
sphinx-tabs
sphinx-togglebutton
sphinx_toolbox
sphinx_ext_substitution
sphinx-plausible
sphinx-minipres
sphinxext-opengraph<0.8  # remove after 8.3 released (matplotlib optional, takes lots of space)
sphinxext-rediraffe
